<div class="content-wrapper">
    <div class="card-header">
        <h1 class="card-title">Products</h1>
    </div>

    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Barcode</th>
                    <th>Brand</th>
                    <th style="width: 40px">Score</th>
                </tr>
            </thead>
            <tbody>
                @for (product of products; track $index){
                <tr (click)="productDetail(product.id)" class="pe-auto" style="cursor: pointer;">
                    <td>{{$index+1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.barcode}}</td>
                    <td>{{product.brandName}}</td>
                    <td>
                        @if(convertSTR(product.averageScore) >= 4)
                        {
                        <span class="badge bg-success">{{ product.averageScore }}</span>
                        }
                        @else if(convertSTR(product.averageScore) < 4 && convertSTR(product.averageScore)>= 3)
                            {
                            <span class="badge bg-warning"> {{ product.averageScore }}</span>
                            }
                            @else if(convertSTR(product.averageScore) < 3) { <span class="badge bg-danger"> {{
                                product.averageScore }}</span>
                                }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li [classList]="pageNumber === 1 ? 'disabled page-item' : 'page-item'">
                <a style="font-size: 24px; cursor: pointer;" class="page-link" (click)="changePageNumber(-1)">«</a>
            </li>
            <li [classList]="pageNumber === totalPages ? 'disabled page-item' : 'page-item'">
                <a style="font-size: 24px; cursor: pointer;"
                    [classList]="pageNumber === totalPages ? 'disabled page-link' : 'page-link'"
                    (click)="changePageNumber(1)">»</a>
            </li>
        </ul>
    </div>

</div>