<div class="content-wrapper">
    <div class="container py-4">
        <div class="shadow p-4" style="border-radius: 10px;">
            <h1>Mağaza Ekleme Talep Formu</h1>
            <hr />
            <div>
                <div class="mb-3">
                    <span>Mağaza Adı</span>
                    <input [formControl]="storeName" class="form-control mt-1" type="text" placeholder="Green Choice"
                        autocomplete="false">
                </div>

                <div class="mb-3">
                    <span>Mağaza Telefon Numarası</span>
                    <input [formControl]="storePhoneNumber" (keypress)="OnlyNumbersAllowed($event)"
                        class="form-control mt-1" type="text" maxlength="10" placeholder="5538570011"
                        autocomplete="false">
                </div>

                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="w-100 mr-3">
                        <span>Mahalle</span>
                        <input [formControl]="storeNeighbourhood" class="form-control mt-1" type="text"
                            placeholder="Arapzade Mahallesi" autocomplete="false">
                    </div>
                    <div class="w-100 ml-3">
                        <span>Sokak / Cadde</span>
                        <input [formControl]="storeStreet" class="form-control mt-1" type="text"
                            placeholder="Atatürk Caddesi" autocomplete="false">
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="w-100 mr-3">
                        <span>Bina No</span>
                        <input [formControl]="storeBuildingNo" class="form-control mt-1" type="number" placeholder="0"
                            autocomplete="false">
                    </div>
                    <div class="w-100 ml-3">
                        <span>Daire No</span>
                        <input [formControl]="storeHouseNo" class="form-control mt-1" type="number" placeholder="0"
                            autocomplete="false">
                    </div>
                </div>


                <div class="d-flex align-items-center justify-content-center">
                    <div class="w-100 mr-3">
                        <span class="m-0">İl Seçiniz</span>
                        <select class="custom-select form-control-border mt-1 p-2" (change)="onLocChange($event)"
                            style="border: 1px solid #00000071;">
                            <option disabled selected>İl Seçiniz</option>
                            @for (loc of locs; track $index){
                            <option [value]="loc.name">{{loc.name}}</option>
                            }
                        </select>
                    </div>
                    <div class="w-100 ml-3" id="disabledCheck">
                        <span class="m-0">İlçe Seçiniz</span>
                        <select [disabled]="selectedCity === ''"
                            [class]="selectedCity === '' ? 'disabled custom-select form-control-border mt-1 p-2' : 'custom-select form-control-border mt-1 p-2'"
                            (change)="onDistChange($event)" style="border: 1px solid #00000071;">
                            <option disabled selected>İlçe Seçiniz</option>
                            @for (dis of dists; track $index){
                            <option [value]="dis">{{dis}}</option>
                            }
                        </select>
                    </div>
                </div>
                <hr class="mt-4" />
                <div class="w-100 d-flex align-items-center justify-content-center mt-4">
                    <span>Mağaza Online Siparişleri Kabul Ediyor</span>
                    <label class="switch ml-3 mr-3" style="margin-bottom: 0;">
                        <input (click)="changeToggle()" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <span>Mağaza Online Siparişleri Kabul Etmiyor</span>
                </div>
                <button (click)="submitForm()" class="btn btn-outline-info w-100 mt-4">Kaydet</button>
            </div>
        </div>
    </div>
</div>