<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Home</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="card" style="background-color: #415A77;">
			<div class="card-header">
				<h3 class="card-title" style="color: #E0E1DD">Best Products</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
				@for (product of productResponse; track $index){
				<div class="small-box" style="width: 45%; background-color: #E0E1DD;">
					<div class="inner">
						<h2>{{product.name}}</h2>
						<p>{{product.description}}</p>
					</div>
					<div class="text-left ml-2" style="opacity: .5;">{{product.brandName + ' ~ ' +
						product.categoryName}}</div>

					<h2 class="text-right" style="opacity: .5;">{{product.averageScore}}<i
							class="fas fa-star"></i></h2>
					<a href="#" class="small-box-footer">
						More info <i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
				}
			</div>
		</div>
	</section>

	<section class="content">
		<div class="card" style="background-color: #415A77;">
			<div class="card-header">
				<h3 class="card-title" style="color: #E0E1DD">Best Stores</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
				@for (store of storeResponse; track $index){
				<div class="small-box" style="width: 45%; background-color: #E0E1DD;">
					<div class="inner">
						<h2>{{store.name}} </h2>
						<p>{{store.address}}</p>
					</div>
					<div class="text-left ml-2" style="opacity: .5;">{{store.phoneNumber}}</div>
					<div class="icon">
						<i class="fas fa-star"></i>
						<h2 class="text-right" style="margin-right: 35px !important;">{{store.averageScore}}</h2>
					</div>
					@if (store.isOnlineAvailable){
					<div class="d-flex m-2 align-items-center">
						<span class="info-box-icon bg-success"><i class="far fa-flag"
								style="font-size: 28px; border: 5px solid #28a745; "></i></span>
						<div class="info-box-content">
							<span class="info-box-text ml-2">Online Available</span>
						</div>
					</div>
					}

					<a href="#" class="small-box-footer">
						More info <i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
				}
			</div>
		</div>
	</section>

	<!-- <section class="content">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Best Comments</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				Here comments
			</div>
		</div>
	</section> -->
</div>