<div class="content-wrapper">
    <div class="container">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/products">Product</a></li>
                            <li class="breadcrumb-item active">{{id}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <div class="card card-solid">
            <div class="card-body">
                <div>
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="my-3">{{product.name}}</h3>
                            @if(flag){
                            <div>
                                @if (favoriteId > 0){
                                <div style="font-size: 14px; border-radius: 10px;" (click)="favorite()"
                                    class="btn btn-danger btn-lg btn-flat">
                                    <i class="fas fa-heart fa-lg mr-2"></i>
                                    Favorilerden Kaldır
                                </div>
                                }
                                @else {
                                <div style="font-size: 14px; border-radius: 10px;" (click)="favorite()"
                                    class="btn btn-default btn-lg btn-flat">
                                    <i class="fas fa-heart fa-lg mr-2"></i>
                                    Favorile
                                </div>
                                }
                            </div>
                            }
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Kategori : </strong>
                                <h5>{{product.categoryName}}</h5>
                            </div>
                            <span><strong>Barkod :</strong> {{product.barcode}}</span>
                        </div>
                        <hr>
                        @if(flag){
                        <h4 class="mt-3">Sürdürülebilirlik Puanını Oylamak İçin</h4>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label
                                    [className]="score === 1 ? 'bg-warning btn btn-default text-center' : 'btn btn-default text-center'">
                                    <input type="radio" name="color_option" id="color_option_b1" autocomplete="off">
                                    <span class="text-xl" (click)="setScore(1)">1</span>
                                    <br>
                                </label>
                                <label
                                    [className]="score === 2 ? 'bg-warning btn btn-default text-center' : 'btn btn-default text-center'">
                                    <input type="radio" name="color_option" id="color_option_b2" autocomplete="off">
                                    <span class="text-xl" (click)="setScore(2)">2</span>
                                    <br>
                                </label>
                                <label
                                    [className]="score === 3 ? 'bg-warning btn btn-default text-center' : 'btn btn-default text-center'">
                                    <input type="radio" name="color_option" id="color_option_b3" autocomplete="off">
                                    <span class="text-xl" (click)="setScore(3)">3</span>
                                    <br>
                                </label>
                                <label
                                    [className]="score === 4 ? 'bg-warning btn btn-default text-center' : 'btn btn-default text-center'">
                                    <input type="radio" name="color_option" id="color_option_b4" autocomplete="off">
                                    <span class="text-xl" (click)="setScore(4)">4</span>
                                    <br>
                                </label>
                                <label
                                    [className]="score === 5 ? 'bg-warning btn btn-default text-center' : 'btn btn-default text-center'">
                                    <input type="radio" name="color_option" id="color_option_b4" autocomplete="off">
                                    <span class="text-xl" (click)="setScore(5)">5</span>
                                    <br>
                                </label>
                            </div>
                            <div class="callout callout-info m-0">
                                {{product.sustainabilityScore}}
                            </div>
                        </div>
                        }@else{
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Sürdürülebilirlik Puanı : </span>
                            <div class="callout callout-info m-0">
                                {{product.sustainabilityScore}}
                            </div>
                        </div>
                        }
                        <hr />
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <h2 class="mb-0 py-2 px-3 w-50 mr-4 text-center"
                                style="background-color: #789461; border-radius: 10px;color: #fff">
                                {{product.price}} ₺
                            </h2>
                            <h6 class="mt-2 p-3" style="border-radius: 10px; background-color: #A94438;color: #fff"><i
                                    class="icon fas fa-info mr-2"></i>Fiyatlar Değişiklik Gösterebilir!</h6>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <nav class="w-100">
                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab"
                                href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Ürün
                                Açıklaması</a>
                            <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab"
                                href="#product-comments" role="tab" aria-controls="product-comments"
                                aria-selected="false">Paket Bilgileri</a>
                            <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab"
                                href="#product-rating" role="tab" aria-controls="product-rating"
                                aria-selected="false">Üretim Bilgileri</a>
                        </div>
                    </nav>
                    <div class="tab-content p-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="product-desc" role="tabpanel"
                            aria-labelledby="product-desc-tab">
                            {{product.description}}
                        </div>
                        <div class="tab-pane fade" id="product-comments" role="tabpanel"
                            aria-labelledby="product-comments-tab">
                            {{product.packageInformation}}
                        </div>
                        <div class="tab-pane fade" id="product-rating" role="tabpanel"
                            aria-labelledby="product-rating-tab">
                            {{product.productionProcessInformation}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if(flag){
        <section class="content">
            <div class="row">
                <div class="col-12" id="accordion">
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    Yorumlar
                                </h4>
                            </div>
                        </a>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="input-group-prepend m-3">
                                <input [formControl]="comment" type="text" class="form-control mr-2"
                                    placeholder="Yorum Yap">
                                <button (click)="sendComment()" type="button" class="btn btn-success"><i
                                        class="fas fa-paper-plane"></i></button>
                            </div>
                            @for (com of comments; track $index){
                            <div class="card-body">
                                <div class="card bg-light d-flex flex-fill p-3" style="border-left: 3px solid #dc3545;">
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7 d-flex justify-content-center flex-column">
                                                <h2 class="lead"><strong>Kullanıcı Adı: </strong>{{com.userName}}</h2>
                                                <p class="text-muted text-sm">
                                                    <b>Yorum: </b>
                                                    {{com.text}}
                                                </p>
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="fas fa-thumbs-up"></i>
                                                        </span>
                                                        {{com.commentScore}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-5 text-center">
                                                <img [src]="apiLink+com.userPhotoName" alt="user-avatar"
                                                    class="img-circle img-fluid"
                                                    style="width: 100px;border: 2px solid #dc3545;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer p-0 bg-light">
                                        <div class="text-right">
                                            <a (click)="updateLike(com.id)" class="btn btn-sm bg-teal">
                                                <i class="fas fa-thumbs-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        }
    </div>
</div>