<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <img src="../../../../../assets/logo-no-background.png" class="bg-dark w-100 p-4"
                    style="border-radius: 10px;">
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sürdürebilir alışveriş için kayıt olun</p>
                <form>
                    <div class="input-group mb-3">
                        <input required [formControl]="userName" type="text" class="form-control"
                            placeholder="Kullanıcı Adı">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span style="width: 16px;" class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required [formControl]="email" type="email" class="form-control"
                            placeholder="mail@mail.com">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required [formControl]="password" type="password" class="form-control"
                            placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span style="width: 16px;" class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" (change)="onFileSelected($event)"
                            placeholder="Fotoğraf">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span style="width: 16px;" class="fa fa-image"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <!-- <button (click)="register()" [disabled]="userName.invalid || password.invalid" type="button"
                                class="btn btn-primary btn-block">Kayıt Ol</button> -->
                                <button (click)="register()" type="button"
                                class="btn btn-primary btn-block">Kayıt Ol</button>
                        </div>
                    </div>
                </form>
                <div class="mt-3 p-2 text-center">
                    <p class="mb-0">
                        Hesabın var mı? <a href="/login" >Giriş Yap</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>